;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Oct 16 15:30:36 2013
;; Desktop file format version 206
;; Emacs version 24.1.50.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '(".emacs.d/\"" "org"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/home/w34p0n/tools/emacs-space/repo/org-mode/lisp/org-capture.el"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  nil
  "cpp"
  'dired-mode
  '(openwith-mode global-auto-revert-mode linum-mode)
  235
  '(nil nil)
  t
  '("/home/w34p0n/mydisk/workspace/cpp/")
  nil)

