[submodule "cedet"]
      path = repo/cedet
      url = git://git.randomsample.de/cedet.git
[submodule "repo/org-mode"]
	path = repo/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "repo/org2blog"]
	path = repo/org2blog
	url = https://github.com/punchagan/org2blog.git
[submodule "malabar-mode"]
	path = repo/malabar-mode
	url = https://github.com/espenhw/malabar-mode.git
[submodule "yasnippet-snippets"]
	path = repo/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git