[submodule "repo/org-mode"]
	path = repo/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "repo/org2blog"]
	path = repo/org2blog
	url = https://github.com/punchagan/org2blog.git
[submodule "repo/yasnippet-snippets"]
	path = repo/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "repo/malabar-mode"]
	path = repo/malabar-mode
	url = https://github.com/espenhw/malabar-mode.git
[submodule "repo/paredit"]
	path = repo/paredit
	url = http://mumble.net/~campbell/git/paredit.git